.clients-svg {
  fill: var(--clients-svg);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-top: 50px;
}

.clients-item {
  margin-right: 30px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  color: #afb1b8;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-svg {
  fill: currentColor;
}

.clients-link {
  &:hover,
  &:focus {
    color: var(--blue-text);
    border: 1px solid var(--blue-text);
  }
}
